{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Cambiar correo electrónico</h2>
    <form method="POST" class="mx-auto" style="max-width:400px;">
    {% csrf_token %}
    <div class="mb-3">
        <label for="nuevo_correo" class="form-label">Nuevo correo</label>
        <input type="email" name="nuevo_correo" id="nuevo_correo" class="form-control" required>
    </div>
        <button type="submit" class="btn btn-primary w-100">Guardar cambios</button>
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'perfil' %}">Volver al perfil</a>
    </div>
</div>
{% endblock %}