{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contraseña Restablecida</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5 text-center">
        <span class="logo_login d-block mb-3">ST</span>
        <h2>¡Contraseña actualizada con éxito!</h2>
        <p>Ya puedes iniciar sesión con tu nueva contraseña.</p>
        <a href="{% url 'login' %}" class="btn btn-primary mt-3">Ir al inicio de sesión</a>
    </div>
</body>
</html>