<!DOCTYPE html>
<head>
    <title>PLANES</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">SmartTrade</a>
        <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'planes' %}">Planes</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'pqrs' %}">PQRS</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a></li>
        </ul>
        </div>
    </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <p>elija su plan antes de registrarse</p>
        </div>
        <div class="row">
            {% for plan in planes %}
            <div class="col-md-4">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body text-center">
                <h3 class="card-title">{{ plan.nombre }}</h3>
                <h4 class="card-price">${{ plan.precio }}</h4>
                <p class="card-text">{{ plan.descripcion }}</p>
                <ul class="list-group list-group-flush">
                    {% for beneficio in plan.beneficios_lista %}
                    <li class="list-group-item">{{ beneficio }}</li>
                    {% endfor %}
                </ul>
                <a href="{% url 'registro' %}?plan={{ plan.nombre }}" class="btn btn-primary mt-3">Elegir Plan</a>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

